  /*Buttons*/

  .neon-a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
  }
  
  
  
  .neon-a:hover {
    color: #255784;
    background: #09fbd3;
    box-shadow: 0 0 10px #09fbd3, 0 0 40px #09fbd3, 0 0 80px #09fbd3;
    transition-delay: 1s;
  }
  
  
  .neon-a span {
    position: absolute;
    display: block;
  }
  
  
  
  
  .neon-a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #09fbd3);
  }
  
  
  
  .neon-a:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
  }
  
  
  .neon-a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #09fbd3);
  }
  
  .neon-a:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
  }
  
  
  
  .neon-a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #09fbd3);
  }
  
  .neon-a:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
  }
  
  
  
  .neon-a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #09fbd3);
  }
  
  .neon-a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
  }
  
/* -------------------------------------*/  

/* TYPEWRITER*/

.wrapper {
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}

.typing-demo {
  width: 38ch;
  animation: typing 3s steps(22), blink .5s infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: '8BitsBold';
  font-weight: bold;
  color: #FFFFFF;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

/* --------------------- */